/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Generics */
body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

main {
	background-color: rgb(208, 208, 208);
}

a {
	text-decoration: none;
	color: black;
}

/* Utilities */
.container {
	max-width: 1000px;
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

/* Not Found Page */
.not-found {
	text-align: center;
	padding: 2rem;
	h2 {
		margin-bottom: 1rem;
	}
	a:hover {
		text-decoration: underline;
	}
}

/* Navbar */
.navbar ul {
	list-style: none;
	display: flex;
	padding: 1rem;
	align-items: center;

	li {
		margin-inline-end: 1rem;
	}

	a {
		color: black;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.navbar a.active {
	font-weight: 600;
}

.navbar input {
	font-size: 0.9rem;
	padding: 0.4rem 0.9rem;
	background-color: white;
	border: 2px dashed black;
	border-radius: 20px;
}

.navbar label {
	margin: 0 1rem 0 3rem;
}

/* Jumbotron */
.jumbotron {
	text-align: center;
	background-color: aquamarine;
	padding: 2rem;
	& div > * + * {
		margin: 1rem;
	}
	a:hover {
		text-decoration: underline;
	}
}

/* About Page */
.about-page {
	text-align: center;
	background-color: aqua;
	padding: 2rem;
	& div > * + * {
		margin: 1rem;
	}

	.bold {
		font-weight: 700;
	}
}

/* Products Page */
.row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
	padding: 2rem 0;
}

.card {
	width: 320px;
	height: 380px;
	padding: 1rem;
	border: 5px dashed black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:hover {
		cursor: pointer;
	}

	img {
		object-fit: contain;
		width: 80%;
		height: 200px;
		align-self: center;
	}

	h3 {
		font-size: 1.2rem;
		padding: 1rem 0;
	}

	.product-rating {
		align-self: flex-end;
		font-size: 1.1rem;
		&::before {
			content: "★ ";
		}
	}

	.product-price {
		align-self: flex-end;
		font-size: 1.4rem;
		font-weight: 600;
		color: rgb(0, 145, 255);
	}
}

/* Loader */
.loader {
	display: flex;
	justify-content: center;
	padding: 2rem;
}

/* Product Detail Page */
.product-detail {
	display: flex;
	flex-direction: column;

	img {
		align-self: center;
		height: 300px;
		margin: 2rem;
	}

	.product-buttons {
		display: flex;
		justify-content: space-around;
		margin: 1rem;
		button {
			font-size: 1.1rem;
			padding: 0.5rem 1rem;
			background-color: white;
			border: 2px dashed black;
			border-radius: 20px;
			& > * {
				display: block;
			}
			&:hover {
				cursor: pointer;
				background-color: rgb(238, 238, 238);
				border: 2px solid black;
			}
		}
	}

	.product-title {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
	}

	.product-category {
		background-color: white;
		width: fit-content;
		padding: 0.5rem 1rem;
		margin: 1rem;
		align-self: flex-end;
		border-radius: 10px;
		text-transform: uppercase;
	}
	.product-price {
		font-size: 2rem;
		margin: 1rem;
		align-self: center;
	}

	.product-description {
		background-color: white;
		border-radius: 20px;
		text-align: center;
		align-self: center;
		max-width: 800px;
		padding: 1rem;
		margin: 1rem;
	}
	.product-rating {
		font-size: 1.2rem;
		margin: 0 auto;
		&::before {
			content: "★ ";
		}
	}
}

/* Footer */
footer {
	height: 100vh;
	background: linear-gradient(rgb(208, 208, 208), rgb(0, 0, 0) 80%);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	img {
		align-self: center;
		width: 100%;
	}

	div {
		display: block;
		color: white;
		align-self: flex-end;
		padding: 1rem;
	}
}
